[submodule "f2_rx_dsp"]
	path = f2_rx_dsp
	url = git@github.com:Chisel-blocks/f2_rx_dsp.git
[submodule "f2_tx_dsp"]
	path = f2_tx_dsp
	url = git@github.com:Chisel-blocks/f2_tx_dsp.git
[submodule "f2_lane_switch"]
	path = f2_lane_switch
	url = git@github.com:Chisel-blocks/f2_lane_switch.git
[submodule "f2_serdes_test"]
	path = f2_serdes_test
	url = git@github.com:Chisel-blocks/f2_serdes_test.git
[submodule "decouple_branch"]
	path = decouple_branch
	url = git@github.com:Chisel-blocks/decouple_branch.git
[submodule "clkdiv_n_2_4_8"]
	path = clkdiv_n_2_4_8
	url = git@github.com:Chisel-blocks/clkdiv_n_2_4_8.git
